@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'josefin_light';
}
h1,h2,h3,h4,h5,h6{
	font-family: 'josefin_semibold';
}
nav{
	width: 100%;
	height: 70px;
	background-color: #E9ED58;
}
header{
	width: 100%; 
	height: 650px;
	background-image: url("../img/header.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;/*center/la centra... bottom/la acomoda de abajo para arriba*/
}
section#promo{
	width: 100%;
	height: 400px;
	background-image: url("../img/bg_bienvenida.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section#contenidos{
	width: 100%;
	height: 600px;
	background-image: url("../img/fondoEspecialidades.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section#ubicacion{
	width: 100%;
	height: 422px;
}
footer{
	width: 100%;
	height: 200px;
	background-color: #A1C133;
}
div#centrarnav, div#centrarheader, div#centrarpromo, div#centrarcontenidos, div#centrarubicacion, div#centrarfooter{ /*clase compuesta*/
	position: relative;
	width: 1200px;
	height: 100%; /*100% de la altura del contendedor padre*/
	margin: 0 auto;
}
div#centrarheader{
	width: 1200px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
}
div#centrarnav img{
	position: absolute;
	top: 19px;
	left: 9px;
}
ul#menuprincipal {
	position: absolute;
	float: left;
	list-style: none;
	top: 28px;
	left: 126px;
}
ul#menuprincipal li {
	float: left;
	margin-right: 47px;
	font-size: 20px;
	
}
ul#menuprincipal li a {
	color: black;
	font-weight: 100;
	text-decoration: none;	
}
ul#redessociales {
	float: right;
	list-style: none;
	
}
ul#redessociales li {
	float: left;
	padding-top: 25px;
	margin-left: 19px;
}
div#face {
	width: 12px;
	height: 21px;
	background-image: url("../img/redes/faceWhite.svg");
}
div#face:hover{
	background-image: url("../img/redes/faceHover.svg");
}
div#tw {
	width: 23px;
	height: 18px;
	background-image: url("../img/redes/twitterWhite.svg");
}
div#tw:hover{
	background-image:url("../img/redes/twitterHover.svg");
}
div#insta {
	width: 21px;
	height: 21px;
	background-image: url("../img/redes/inwhite.svg");
}
div#insta:hover{
	background-image: url("../img/redes/inHover.svg");
}
div#centrarpromo h2 {
	position: absolute;
	font-size: 40px;
	color: #A1C133;
	font-weight: 300;
	top: 123px;
	left: 625px;
	text-align: right;
}
div#centrarpromo p {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 100;
	top: 252px;
	left: 746px;
}
/*falta seccion de contenidos*/
/*falta seccion de ubicacion*/

div#centrarfooter img {
	position: absolute;
	top: 62px;
	left: 9px;	
}
ul#menufooter {
	position: absolute;
	top: 62px;
	left: 204px;
}
ul#menufooter li {
	list-style: none;
	margin-bottom: 12px;
	font-size: 14px;
}	
ul#menufooter li a {
	color: white;
	text-decoration: none;
}
ul#logosocialesfooter {
	position: absolute;
	list-style: none;
	top: 62px;
	left: 408px;
}
ul#logosocialesfooter li{
	margin-bottom: 11px;
}

div#facefooter {
	background-image: url("../img/redes/faceWhite.svg");
	width: 11px;
	height: 21px;
}
div#facefooter:hover{
	background-image: url("../img/redes/faceHover.svg");
}
div#twfooter {
	width: 23px;
	height: 18px;
	background-image: url("../img/redes/twitterWhite.svg");
}
div#twfooter:hover{
	background-image:url("../img/redes/twitterHover.svg");
}
div#instafooter {
	width: 21px;
	height: 21px;
	background-image: url("../img/redes/inwhite.svg");
}
div#instafooter:hover{
	background-image: url("../img/redes/inHover.svg");
}
div#centrarfooter p {
	position: absolute;
	top: 62px;
	left: 930px;
	font-size: 14px;
	color: white;
	line-height: 23px;
}
ul#redesfooter {
	position: absolute;
	list-style: none;
	top: 60px;
	left: 453px;
}
ul#redesfooter li{
	margin-bottom: 9px;
}
ul#redesfooter li a{
	font-size: 16px;
	color: white;
	text-decoration: none;
}
div#centrarfooter p#formulario {
	position: absolute;
	top: 62px;
	left: 620px;
	font-size: 14px;
	color: white;
	line-height: 23px;
}
div#boxmaps{
	width: 720px;
	height: 285px;
	background-color: #A1C133;
	position: absolute;
	top: 112px;
	left: 236px;
}
iframe#mapa{
	margin-left: 22px;
	margin-top: -60px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5) /*box-shadow: despX despY bluer rgba(0,0,0,.5)*/
}
input#email{
	position: absolute;
	top: 86px;
	left: 620px;
	width: 193px ;
	height: 40px;
	background-color: #A1C133;
	border: solid 1px white;
	font-size: 15px;
	padding-left: 15px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
input#enviar{
	position: absolute;
	top: 86px;
	left: 830px;
	width: 60px ;
	height: 42px;
	background-color: white;
	border: solid 1px white;
	font-size: 11px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
}

h2.titulo{
	font-size: 40px;
	color: #D0E542;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 30px;

/* falta cambiar colo de texto del boton*/