@charset "UTF-8";
/* CSS Document */

section#contenidos{
	height: 832px;
}

div#boxacordeon{
	width:582px ;
	height:558px ;
	position: absolute;
	top: 175px;
	left: 0px;
}
div#boxtabs{
	width:582px ;
	height:558px ;
	position: absolute;
	top: 175px;
	left: 612px;
}
div#Accordion1 div{
	position: relative;
}
div#img01 {
	width:248px ;
	height: 303px;
}
p#tituloacordeon{
	color: #FF5E60;
	position: absolute;
	left: 320px;
	top: 58px;
	font-size: 20px;
	text-transform: uppercase;
}
p#cuerpoacordeon{
	color: #FF5E60;
	position: absolute;
	left: 320px;
	top: 155px;
	font-size: 14px;
}
div#tabs-1 p,div#tabs-2 p, div#tabs-3 p, div#tabs-4 p{
	column-count: 2;
	column-gap: 15px;
	font-size: 15px;
	padding-top: 15px;
	
}